# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore OS-specific files
.DS_Store

# build output
dist/

# frameworks
.astro/
.storyblok/

# misc
package-lock.json